venv

Student_attendance_management/__pycache__

accounts/__pycache__
students/__pycache__
classrooms/__pycache__
subjects/__pycache__
teachers/__pycache__
attendances/__pycache__
attendance_details/__pycache__