venv

db.sqlite3

accounts/migrations
students/migrations
classrooms/migrations
subjects/migrations
teachers/migrations
attendance/migrations

Student_attendance_management/__pycache__

accounts/__pycache__
students/__pycache__
classrooms/__pycache__
subjects/__pycache__
teachers/__pycache__
attendance/__pycache__